# Opening the file

In [115]:
import pandas as pd 
data="C:\\Users\\varsh\\Downloads\\yelp Restaurent reviews.csv"
# reading the fie and print
df = pd.read_csv(data)
df.sample(10)

,Yelp URL,Rating,Year,Review Text
12729,https://www.yelp.com/biz/batch-bakehouse-madison,4,2/21/2017,There are a few things I like about this Baker...
527,https://www.yelp.com/biz/carlos-bakery-las-veg...,1,06-03-2017,Had really high expectations from this brand n...
19532,https://www.yelp.com/biz/hopscotch-champaign,3,02-12-2018,Very very nice coffee shop to hang out at and ...
674,https://www.yelp.com/biz/carlos-bakery-las-veg...,2,2/17/2019,Went to carlos for the first time and purchase...
17700,https://www.yelp.com/biz/masons-creamery-cleve...,5,5/15/2016,Probably should have updated this last year- b...
15977,https://www.yelp.com/biz/churn-phoenix-3,5,7/29/2013,I'm not a big ice cream fan but I absolutely L...
18313,https://www.yelp.com/biz/pages-pittsburgh,5,8/25/2017,This place is a GEM! Only open during 'ice cre...
13787,https://www.yelp.com/biz/milk-bar-las-vegas-la...,3,5/22/2018,If you enjoy milk and cereal from Afters in Ca...
9986,https://www.yelp.com/biz/melt-phoenix,1,07-01-2021,The level of customer service has really gone ...
10167,https://www.yelp.com/biz/melt-phoenix,5,1/31/2015,Tried the snicker doodle once scoop icecream. ...

# Getting the Bing Liu Lexicon

In [116]:
from sklearn import preprocessing
import nltk# Import the Natural Language Toolkit library
nltk.download('opinion_lexicon')
# Load positive and negative words from the opinion lexicon
from nltk.corpus import opinion_lexicon
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package opinion_lexicon to
[nltk_data]     C:\Users\varsh\AppData\Roaming\nltk_data...
[nltk_data]   Package opinion_lexicon is already up-to-date!

In [117]:
# Print the total number of words in the opinion lexicon
print('Total number of words in opinion lexicon', len(opinion_lexicon.words()))
print('Examples of positive words in opinion lexicon',
opinion_lexicon.positive()[:10])
print('Examples of negative words in opinion lexicon',
opinion_lexicon.negative()[:10])

Total number of words in opinion lexicon 6789
Examples of positive words in opinion lexicon ['a+', 'abound', 'abounds', 'abundance', 'abundant', 'accessable', 'accessible', 'acclaim', 'acclaimed', 'acclamation']
Examples of negative words in opinion lexicon ['2-faced', '2-faces', 'abnormal', 'abolish', 'abominable', 'abominably', 'abominate', 'abomination', 'abort', 'aborted']

In [118]:
# Let's create a dictionary which we can use for scoring our review text
nltk.download('punkt')
df.rename(columns={"Review Text": "text"}, inplace=True)
pos_score = 1
neg_score = -1
word_dict = {}

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\varsh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [119]:
# Adding the positive words to the dictionary
for word in opinion_lexicon.positive():
 word_dict[word] = pos_score
# Adding the negative words to the dictionary
for word in opinion_lexicon.negative():
 word_dict[word] = neg_score

# Function to do math

In [120]:
def bing_liu_score(text):
# Function to calculate sentiment score based on a predefined dictionary of word sentiment scores.
    sentiment_score = 0
    bag_of_words = word_tokenize(text)
    for word in bag_of_words:
        if word in word_dict:
            sentiment_score += word_dict[word]
    return sentiment_score

# Making sure all texts are non empty and are type text then call the function

In [124]:
# Fill missing values in the 'text' column with 'no review'
df['text'].fillna('no review', inplace=True)
df['Bing_Liu_Score'] = df['text'].apply(bing_liu_score)

In [125]:
df[['Rating',"text", 'Bing_Liu_Score']].head()

   Rating                                               text  Bing_Liu_Score
0       5  All I can say is they have very good ice cream...               3
1       4  Nice little local place for ice cream.My favor...               4
2       5  A delicious treat on a hot day! Staff was very...               4
3       4  This was great service and a fun crew! I got t...               7
4       5  This is one of my favorite places to get ice c...              10

In [126]:
df.groupby('Rating').agg({'Bing_Liu_Score':'mean'})

        Bing_Liu_Score
Rating
1             0.235004
2             1.727344
3             3.338811
4             4.411289
5             4.187908